*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0423;
}
#leftBox, 
#rightBox{
    width: 300px;
    height: 400px;
    border: 2px dashed #ffffffb3;
    margin-right: 20px;
    margin-left: 20px;
}
.list{
    background-color: crimson;
    margin: 25px;
    padding: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
    border-radius: 2px;
}